@using KarlovoPharm.Web.ViewComponents
@using KarlovoPharm.Data.Models.Common
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="container">
    <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
            <div class="site-logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="js-logo-clone">Karlovo Pharm</a>
            </div>
        </div>
        <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li class="active"><a asp-area="" asp-controller="Home" asp-action="Index">Към сайта</a></li>
                    <li><a asp-area="" asp-controller="Store" asp-action="All">Магазин</a></li>
                    @await Component.InvokeAsync(typeof(NavBarCategoryComponent))
                    <li><a href="about.html">За нас</a></li>
                    <li><a href="contact.html">Свържете се с нас</a></li>
                </ul>
            </nav>
        </div>
        @if (this.SignInManager.IsSignedIn(this.User))
        {
            var user = await UserManager.GetUserAsync(this.User);
            var userId = user?.Id;
            @await Component.InvokeAsync(typeof(ShoppingCartComponent), userId)

        }
        <partial name="~/Views/Shared/Partials/_LoginPartial.cshtml" />
    </div>
</div>
