@model KarlovoPharm.Web.ViewComponents.Models.ShoppingCartQuantityViewModel

    <div class="icons">
        <a href="cart.html" class="icons-btn d-inline-block bag">
            <span class="icon-shopping-bag"></span>
            <span id="productsQuantity" class="number">@Model.Quantity</span>
        </a>
    </div>