@{
    this.ViewData["Title"] = "Правила за ползване.";
}
<div class="text-danger">
    <h1>@this.ViewData["Title"]</h1>
</div>

<p>&nbsp;</p>
<div class="text-black"><strong>Каква лична информация събираме от хората, които посещава нашия уеб сайт ?</strong></div>
<div class="innerText">Когато се регистрирате в нашия сайт, вие ще бъдете помолени да въведете вашето име, имейл адрес, адрес(и) за доставка, телефонния ви номер, за да можем да изпълним услугите, който сайтът предлага.</div>
<div class="text-black"><strong>Кога събираме информация ?</strong></div>
<div class="innerText">Събираме вашата информация, когато се регистрирате или направите поръчка.</div>
