@page
@model KarlovoPharm.Web.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "ДОСТЪП ОТКАЗАН!";
}

    <div class="page-wrap d-flex flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <div class="mb-4 lead text-danger">@ViewData["Title"]</div>
                    <img class="error-image" src="https://res.cloudinary.com/dqe7qcizi/image/upload/v1586980961/error_images/accessDenied_wgsdbi.jpg" />
                    <div class="mb-4 lead text-danger">Нямате право да достъпвате тази страница.</div>
                </div>
            </div>
        </div>
    </div>