@page
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Потвърждение на забравена парола.";
}

<div class="row justify-content-center">
    <div class="col-md-4 ">
        <h1 style="color: black">@ViewData["Title"]</h1>
        <h4 style="color: black">Моля проверете имейла си и потвърдете чрез линка който ви изпратихме, за да смените паролата си.</h4>
    </div>
</div>