@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Забравена парола ?";
}

<div class="row justify-content-center">
    <div class="col-md-4 ">
        <h1 style="color: black">@ViewData["Title"]</h1>
        <h4 style="color: black">Въведете вашия имейл адрес.</h4>
        <hr />
        <form method="post">
            <div class="form-group">
                <label for="Email" class="text-black">Имейл <span class="text-danger">*</span></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Изпрати</button>
        </form>
    </div>
</div>
