@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}



@if (this.TempData["Error"] != null)
{
    @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
}

<div class="row justify-content-center">
    <div class="col-md-4 ">
        <h1 style="color: black">@ViewData["Title"]</h1>
        <hr />
        <div class="col-md-10">
            <form method="post">
                <div class="form-group">
                    <label for="Username" class="text-black">Потребителско име <span class="text-danger">*</span></label>
                    <input type="text" asp-for="Input.Username" class="form-control">
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="FirstName" class="text-black">Име </label>
                    <input type="text" asp-for="Input.FirstName" class="form-control">
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="LastName" class="text-black">Фамилия </label>
                    <input type="text" asp-for="Input.LastName" class="form-control">
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Password" class="text-black">Парола <span class="text-danger">*</span></label>
                    <input type="password" asp-for="Input.Password" class="form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="ConfirmPassword" class="text-black">Потвърди Парола <span class="text-danger">*</span></label>
                    <input type="password" asp-for="Input.ConfirmPassword" class="form-control">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="Email" class="text-black">Имейл <span class="text-danger">*</span></label>
                    <input type="email" asp-for="Input.Email" class="form-control">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="PhoneNumber" class="text-black">Телефон</label>
                    <input type="text" asp-for="Input.PhoneNumber" class="form-control">
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-lg-6">
                        <input type="submit" class="btn btn-primary btn-sm" value="Регистрирай се">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>