@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Успешна промяна на парола.";
}

<div class="row justify-content-center">
    <div class="col-md-4 ">
        <h1 style="color: black">@ViewData["Title"]</h1>
        <p>
            Вашата парола беше успешно променена. Моля натиснете <a asp-page="./Login">ТУК, за да влезете в профила си.</a>.
        </p>
        <hr />
    </div>
</div>