
@model KarlovoPharm.Web.InputModels.PromoCodes.PromoCodeCreateInputModel
@{
    ViewData["Title"] = "Редактирай промокод";
}

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h3 mb-5 text-black">@this.ViewData["Title"]</h2>
            </div>
            <div class="col-md-12">
                @if (this.TempData["Error"] != null)
                {
                    @await Component.InvokeAsync("ErrorAlert", new { message = this.TempData["Error"] });
                }
                <form asp-controller="PromoCodes" asp-action="Edit" asp-route-promoCodeId="@Model.Id" method="post">
                    <div class="p-3 p-lg-5 border">
                        <div class="form-group row">
                            <div class="col-md-5">
                                <input type="hidden" asp-for="@Model.Id" />
                                <label asp-for="Name" class="text-black">Име<span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" placeholder="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-5">
                                <label asp-for="DiscountInPercentage" class="text-black">Процент отстъпка <span class="text-danger">*</span></label>
                                <input asp-for="DiscountInPercentage" class="form-control" placeholder="@Model.DiscountInPercentage">
                                <span asp-validation-for="DiscountInPercentage" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-5">
                                <input type="submit" class="btn btn-primary btn-lg btn-block" value="Запази промените">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
