
@{
    ViewData["Title"] = "Админ панел";
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">@ViewData["Title"]</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="Categories" asp-action="Add">Създай категория</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-controller="SubCategories" asp-action="Add">Създай подкатегория</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="Products" asp-action="Add">Добави продукт</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="Categories" asp-action="All">Виж всички категории</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="SubCategories" asp-action="All">Виж всички подкатегории</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" asp-controller="Products" asp-action="All">Виж всички продукти</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Orders" asp-action="AllUnprocessed">Виж необработени поръчки</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Orders" asp-action="AllProcessed">Виж обработени поръчки</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" asp-controller="Orders" asp-action="AllDelivered">Виж приключени поръчки</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="PromoCodes" asp-action="Add">Създай промокод</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" asp-controller="PromoCodes" asp-action="All">Виж всички промокодове</a>
            </li>
        </ul>
    </div>
</nav>