@model KarlovoPharm.Web.ViewModels.Products.ProductAllViewModel
<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Филтрирай по цена</h3>
                <div id="slider-range" class="border-primary"></div>
                <input type="text" name="text" id="amount" class="form-control border-0 pl-0 bg-white" disabled="" />
            </div>
            <div class="col-lg-6">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Филтър</h3>
                <button type="button" class="btn btn-secondary btn-md dropdown-toggle px-4" id="dropdownMenuReference"
                        data-toggle="dropdown">
                    Предпочитание
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuReference">
                    <a class="dropdown-item" href="#">Нови продукти</a>
                    <a class="dropdown-item" href="#">Име, А до Я</a>
                    <a class="dropdown-item" href="#">Име, Я до А</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Цена по възходящ ред</a>
                    <a class="dropdown-item" href="#">Цена по низходящ ред</a>
                </div>
            </div>
            <div class="col-lg-6">
                <input class="form-control mr-sm-2" type="text" id="products-search-bar" name="search" placeholder="Търси" aria-label="Въветете ключова дума">
            </div>
        </div>

        <div id="products" class="row">
            @foreach (var product in Model.Products)
            {
                <div class="product col-sm-6 col-lg-4 text-center item mb-4">
                    <a href="shop-single.html"> <img src="@product.Picture" width="150" alt="Image"></a>
                    <h3 class="text-dark"><a href="shop-single.html">@product.Name</a></h3>
                    <p class="price"> @product.Price</p>
                    <a href="#" class="btn btn-warning">Добави в количка</a>
                    <a href="#" class="btn btn-danger">Дoбави в любими</a>
                </div>
            }
        </div>

        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <div class="site-block-27">
                    <ul>
                        <li><a href="#">&lt;</a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#products-search-bar').on("change paste keyup", function () {

            $('.product').show();

            let searchValue = $('#products-search-bar').val();

            for (let elem of $('.product')) {
                let productName = $($(elem).children()[1]).text();

                if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                    $(elem).hide();
                }
            }
        });
    </script>

</div>

